<%- include('includes/head')  %>
  </head>

  <body>
    <%- include('includes/navigation')  %>
    <h1>Some Error occured!</h1>
    <p>We're working on fixing this, sory for the inconvenience.</p>
    <%- include('includes/end')  %>
